
DATA/45000_plus_movies/credits.csv
DATA/45000_plus_movies/keywords.csv
DATA/45000_plus_movies/links_small.csv
DATA/45000_plus_movies/links.csv
DATA/45000_plus_movies/movies_metadata.csv
DATA/45000_plus_movies/ratings.csv
DATA/45000_plus_movies/ratings_small.csv
DATA/5000 movies/tmdb_5000_credits.csv
DATA/5000 movies/tmdb_5000_movies.csv
DATA/cpi/API_FP.CPI.TOTL.ZG_DS2_en_csv_v2_988671.csv
DATA/cpi/Metadata_Country_API_FP.CPI.TOTL.ZG_DS2_en_csv_v2_988671.csv
DATA/cpi/Metadata_Indicator_API_FP.CPI.TOTL.ZG_DS2_en_csv_v2_988671.csv
DATA/gdp/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_988718.csv
DATA/gdp/Metadata_Country_API_NY.GDP.MKTP.CD_DS2_en_csv_v2_988718.csv
DATA/gdp/Metadata_Indicator_API_NY.GDP.MKTP.CD_DS2_en_csv_v2_988718.csv
